<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Cards Cards_refresh" th:fragment="pool">
    <div class="Card">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#">Техника</a>
            </strong>
            <div class="Card-description">Кондратенко Александр Петрович
            </div>
            <div class="Card-cost"><span class="Card-priceOld">₽300.00</span><span class="Card-price">₽190.00</span>
            </div>
        </div>
    </div>
    <div class="Card">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
            <div class="Card-sale">30% скидка
            </div>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#">Английский язык. 5 класс. Английский в фокусе. Рабочая тетрадь.
                ФГОС</a>
            </strong>
            <div class="Card-description">Ваулина, Дули, Подоляко
            </div>
            <div class="Card-cost"><span class="Card-priceOld">₽250.00</span><span class="Card-price">₽210.00</span>
            </div>
        </div>
    </div>
    <div class="Card">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#">Английский язык. 4 класс. Английский в фокусе. Рабочая тетрадь</a>
            </strong>
            <div class="Card-description">Быкова, Дули, Эванс
            </div>
            <div class="Card-cost"><span class="Card-price">₽190.00</span>
            </div>
        </div>
    </div>
    <div class="Card">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
            <div class="Card-sale">30% скидка
            </div>
            <div class="Card-ribbon"><span class="Card-ribbonText">Бестселлер</span>
            </div>
            <a class="Card-status" title="Куплена"><img src="/assets/img/icons/check.svg" alt="check.svg"/></a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#">Великая Отечественная война. 1941-1945</a>
            </strong>
            <div class="Card-description">Солопенко Алла, Меркулов Дмитрий
            </div>
            <div class="Card-cost"><span class="Card-price">₽50.00</span>
            </div>
        </div>
    </div>
    <div class="Card">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#">Большое путешествие по телу человека</a>
            </strong>
            <div class="Card-description">Джон Фарндон
            </div>
            <div class="Card-cost"><span class="Card-price">₽900.00</span>
            </div>
        </div>
    </div>
    <div class="Card">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a><a
                class="Card-status" title="В корзине"><img src="/assets/img/icons/shopping-basket.svg"
                                                           alt="shopping-basket.svg"/></a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#">Великая Отечественная война. 1941-1945</a>
            </strong>
            <div class="Card-description">Солопенко Алла, Меркулов Дмитрий
            </div>
            <div class="Card-cost"><span class="Card-price">₽50.00</span>
            </div>
        </div>
    </div>
    <div class="Card">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
            <div class="Card-ribbon"><span class="Card-ribbonText">Бестселлер</span>
            </div>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#">Большое путешествие по телу человека</a>
            </strong>
            <div class="Card-description">Джон Фарндон
            </div>
            <div class="Card-cost"><span class="Card-price">₽900.00</span>
            </div>
        </div>
    </div>
    <div class="Card">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#">Английский язык. 4 класс. Английский в фокусе. Рабочая тетрадь</a>
            </strong>
            <div class="Card-description">Быкова, Дули, Эванс
            </div>
            <div class="Card-cost"><span class="Card-price">₽190.00</span>
            </div>
        </div>
    </div>
    <div class="Card">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#">Великая Отечественная война. 1941-1945</a>
            </strong>
            <div class="Card-description">Солопенко Алла, Меркулов Дмитрий
            </div>
            <div class="Card-cost"><span class="Card-price">₽50.00</span>
            </div>
        </div>
    </div>
    <div class="Card">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a><a
                class="Card-status" title="Отложена"><img src="/assets/img/icons/heart.svg" alt="heart.svg"/></a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#">Большое путешествие по телу человека</a>
            </strong>
            <div class="Card-description">Джон Фарндон
            </div>
            <div class="Card-cost"><span class="Card-price">₽900.00</span>
            </div>
        </div>
    </div>
    <div class="Card">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#">Техника</a>
            </strong>
            <div class="Card-description">Кондратенко Александр Петрович
            </div>
            <div class="Card-cost"><span class="Card-priceOld">₽300.00</span><span class="Card-price">₽190.00</span>
            </div>
        </div>
    </div>
    <div class="Card">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
            <div class="Card-sale">30% скидка
            </div>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#">Английский язык. 5 класс. Английский в фокусе. Рабочая тетрадь.
                ФГОС</a>
            </strong>
            <div class="Card-description">Ваулина, Дули, Подоляко
            </div>
            <div class="Card-cost"><span class="Card-priceOld">₽250.00</span><span class="Card-price">₽210.00</span>
            </div>
        </div>
    </div>
    <div class="Card">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#">Английский язык. 4 класс. Английский в фокусе. Рабочая тетрадь</a>
            </strong>
            <div class="Card-description">Быкова, Дули, Эванс
            </div>
            <div class="Card-cost"><span class="Card-price">₽190.00</span>
            </div>
        </div>
    </div>
    <div class="Card">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
            <div class="Card-sale">30% скидка
            </div>
            <div class="Card-ribbon"><span class="Card-ribbonText">Бестселлер</span>
            </div>
            <a class="Card-status" title="Куплена"><img src="/assets/img/icons/check.svg" alt="check.svg"/></a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#">Великая Отечественная война. 1941-1945</a>
            </strong>
            <div class="Card-description">Солопенко Алла, Меркулов Дмитрий
            </div>
            <div class="Card-cost"><span class="Card-price">₽50.00</span>
            </div>
        </div>
    </div>
    <div class="Card">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#">Большое путешествие по телу человека</a>
            </strong>
            <div class="Card-description">Джон Фарндон
            </div>
            <div class="Card-cost"><span class="Card-price">₽900.00</span>
            </div>
        </div>
    </div>
    <div class="Card">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a><a
                class="Card-status" title="В корзине"><img src="/assets/img/icons/shopping-basket.svg"
                                                           alt="shopping-basket.svg"/></a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#">Великая Отечественная война. 1941-1945</a>
            </strong>
            <div class="Card-description">Солопенко Алла, Меркулов Дмитрий
            </div>
            <div class="Card-cost"><span class="Card-price">₽50.00</span>
            </div>
        </div>
    </div>
    <div class="Card">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
            <div class="Card-ribbon"><span class="Card-ribbonText">Бестселлер</span>
            </div>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#">Большое путешествие по телу человека</a>
            </strong>
            <div class="Card-description">Джон Фарндон
            </div>
            <div class="Card-cost"><span class="Card-price">₽900.00</span>
            </div>
        </div>
    </div>
    <div class="Card">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#">Английский язык. 4 класс. Английский в фокусе. Рабочая тетрадь</a>
            </strong>
            <div class="Card-description">Быкова, Дули, Эванс
            </div>
            <div class="Card-cost"><span class="Card-price">₽190.00</span>
            </div>
        </div>
    </div>
    <div class="Card">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#">Великая Отечественная война. 1941-1945</a>
            </strong>
            <div class="Card-description">Солопенко Алла, Меркулов Дмитрий
            </div>
            <div class="Card-cost"><span class="Card-price">₽50.00</span>
            </div>
        </div>
    </div>
    <div class="Card">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a><a
                class="Card-status" title="Отложена"><img src="/assets/img/icons/heart.svg" alt="heart.svg"/></a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#">Большое путешествие по телу человека</a>
            </strong>
            <div class="Card-description">Джон Фарндон
            </div>
            <div class="Card-cost"><span class="Card-price">₽900.00</span>
            </div>
        </div>
    </div>
    <div class="Cards-footer Cards-footer_center"><a class="btn btn_primary" href="#" th:attr="data-refreshshow = ${category}" data-refreshshow="recent"
                                                     data-refreshoffset="20" data-refreshlimit="20">Показать еще</a>
    </div>
</div>
</html>