<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="bookSlider">
    <div class="Section-header">
        <h2 class="Section-title" th:text="${title}">Рекомендуемое
        </h2>
    </div>
    <div class="Slider Slider_carousel">
        <div class="Slider-box Cards" data-load="recommended" data-loadoffset="8" data-loadlimit="20">
            <div class="Slider-item">
                <div class="Slider-content">
                    <div class="Card"><a class="Card-picture" href="/books/slug.html"><img
                            src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
                        <div class="Card-content">
                            <strong class="Card-title"><a href="/books/slug.html">Техника</a>
                            </strong>
                            <div class="Card-description">Кондратенко Валерий Петрович
                            </div>
                            <div class="Card-cost"><span class="Card-priceOld">₽300.00</span><span class="Card-price">₽190.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Slider-item">
                <div class="Slider-content">
                    <div class="Card"><a class="Card-picture" href="/books/slug.html"><img
                            src="/assets/img/content/main/card.jpg" alt="card.jpg"/>
                        <div class="Card-sale">30% скидка
                        </div>
                    </a>
                        <div class="Card-content">
                            <strong class="Card-title"><a href="/books/slug.html">Английский язык. 5 класс. Английский в
                                фокусе. Рабочая тетрадь. ФГОС</a>
                            </strong>
                            <div class="Card-description">Ваулина, Дули, Подоляко
                            </div>
                            <div class="Card-cost"><span class="Card-priceOld">₽250.00</span><span class="Card-price">₽210.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Slider-item">
                <div class="Slider-content">
                    <div class="Card"><a class="Card-picture" href="/books/slug.html"><img
                            src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
                        <div class="Card-content">
                            <strong class="Card-title"><a href="/books/slug.html">Английский язык. 4 класс. Английский в
                                фокусе. Рабочая тетрадь</a>
                            </strong>
                            <div class="Card-description">Быкова, Дули, Эванс
                            </div>
                            <div class="Card-cost"><span class="Card-price">₽190.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Slider-item">
                <div class="Slider-content">
                    <div class="Card"><a class="Card-picture" href="/books/slug.html"><img
                            src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
                        <div class="Card-content">
                            <strong class="Card-title"><a href="/books/slug.html">Великая Отечественная война.
                                1941-1945</a>
                            </strong>
                            <div class="Card-description">Солопенко Алла, Меркулов Дмитрий
                            </div>
                            <div class="Card-cost"><span class="Card-price">₽50.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Slider-item">
                <div class="Slider-content">
                    <div class="Card"><a class="Card-picture" href="/books/slug.html"><img
                            src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
                        <div class="Card-content">
                            <strong class="Card-title"><a href="/books/slug.html">Большое путешествие по телу
                                человека</a>
                            </strong>
                            <div class="Card-description">Джон Фарндон
                            </div>
                            <div class="Card-cost"><span class="Card-price">₽900.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Slider-item">
                <div class="Slider-content">
                    <div class="Card"><a class="Card-picture" href="/books/slug.html"><img
                            src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
                        <div class="Card-content">
                            <strong class="Card-title"><a href="/books/slug.html">Английский язык. 4 класс. Английский в
                                фокусе. Рабочая тетрадь</a>
                            </strong>
                            <div class="Card-description">Быкова, Дули, Эванс
                            </div>
                            <div class="Card-cost"><span class="Card-price">₽190.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Slider-item">
                <div class="Slider-content">
                    <div class="Card"><a class="Card-picture" href="/books/slug.html"><img
                            src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
                        <div class="Card-content">
                            <strong class="Card-title"><a href="/books/slug.html">Великая Отечественная война.
                                1941-1945</a>
                            </strong>
                            <div class="Card-description">Солопенко Алла, Меркулов Дмитрий
                            </div>
                            <div class="Card-cost"><span class="Card-price">₽50.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Slider-item">
                <div class="Slider-content">
                    <div class="Card"><a class="Card-picture" href="/books/slug.html"><img
                            src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
                        <div class="Card-content">
                            <strong class="Card-title"><a href="/books/slug.html">Большое путешествие по телу
                                человека</a>
                            </strong>
                            <div class="Card-description">Джон Фарндон
                            </div>
                            <div class="Card-cost"><span class="Card-price">₽900.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Slider-navigateWrap">
            <div class="Slider-navigate">
            </div>
        </div>
        <div class="Slider-load">
            <div class="Slider-load-text">Идет загрузка данных
            </div>
        </div>
    </div>
</div>
</html>